.footer{
    background-color: black;
    overflow: hidden;
    padding: 20px 10px;
    color:#fff;
    position: sticky;
    top: 100%;
}
h1{
    font-size: 18px;
    color:#fff;
    font-weight: bold;
}


a{
    color:#fff;
    text-decoration: none;  
    padding: 0px 10px;
    font-size: 18px;
}
a:hover{
    color: var(--primary-color);
}
p{
    color: #fff;
    font-size: 18px;
}
a:hover{
    color: var(--primary-color);
}
i{
    padding: 0px 10px;
}