<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6" *ngIf="menuData">
            
            <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3 mt-3">Back</a>
            <!-- <ng-container *ngIf="menuData">
                <img src="{{ menuData.foodImg }}" alt="">
              </ng-container> -->
              <img src="{{menuData[0].foodImg}}" alt="" width="100%">
              <h1>{{menuData[0].foodName}}</h1>
              <p>{{menuData[0].foodDetails}}</p>
              <p>{{menuData[0].foodPrice | currency:"INR"}}</p>
        </div>
        <div class="col-lg-6">
            <h1 class="mt-5"> Enter Your Details  </h1> 
            <form action="">
                <input type="text" name="" id=""  class="form-control"   placeholder="Enter Your Name">
                <input type="text" name="" id="" class="form-control mt-3" placeholder="Enter Your Mobile">
                <textarea name="" id=""placeholder="Enter Your Details " class="form-control mt-3"></textarea>
                <button class=" btn btn-md btn-dark mt-3">Place Order</button>

            </form>
        </div>
    </div>
</div>
